<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'inicio' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">          
          {% for categoria in categorias %}
            <a class="dropdown-item" href="{% url 'productoFind' catg=categoria.descripcion %}">{{categoria.descripcion}}</a>
          {% endfor %}

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'acercaDe' %}">Acerca de...</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'productoCrud' %}">Nuevo producto</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" style="display: flex;" method="POST" action="{% url 'productoFind' %}">
      {% csrf_token %}
      <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 m-1"  type="submit">Search</button>
    </form>
  </div>
</nav>

